Source: stellar-core
Section: web
Priority: optional
Maintainer: Package Maintainer <packages@stellar.org>
Build-Depends: debhelper (>=9), autoconf (>=2.69), automake (>=1.15), binutils (>=2.26), bison (>=3.0.4), build-essential (>=12.1), clang-3.5 (>=3.5.2), cpp-4.9 (>=4.9.3), devscripts (>=2.16.2), dh-autoreconf (>=11), dh-systemd (>=1.5), flex (>=2.6.0), g++-4.9 (>=4.9.3), gcc-4.9 (>=4.9.3), git (>=2.7.4), libpq-dev (>=9.5.2), libtool (>=2.4.6), pandoc (>=1.16.0.2~dfsg-1), pkg-config (>=0.29.1), libsqlite3-0 (>=3.11.0)
Standards-Version: 3.9.6
Homepage: https://www.stellar.org

Package: stellar-core
Architecture: any
Depends: libc6 (>= 2.15), libgcc1 (>= 1:3.4), libpq5, libstdc++6 (>= 5.2), libsqlite3-0 (>=3.11.0), stellar-core-utils
Recommends: stellar-core-utils
Description: Stellar  is  a  decentralized, federated peer-to-peer network
 Stellar  is  a  decentralized, federated peer-to-peer network that allows people to send payments in any asset anywhere in the world instantaneously, and with minimal fee.
 Stellar-core is the core component of this network. Stellar-core is a C++ implementation of the Stellar Consensus Protocol configured to construct a chain of ledgers that are guaranteed to be in agreement across all the participating nodes at all times.
