Source: stellar-core
Section: web
Priority: optional
Maintainer: Package Maintainer <packages@stellar.org>
Build-Depends: debhelper (>=9), autoconf (>=2.69), automake (>=1.15), binutils (>=2.26), bison (>=3.0.4), build-essential (>=12.1), clang-12 (>=12), libc++-12-dev, libc++abi-12-dev, devscripts (>=2.16.2), dh-autoreconf (>=11), flex (>=2.6.0), git (>=2.7.4), libpq-dev (>=9.5.2), libtool (>=2.4.6), pandoc (>=1.16.0.2~dfsg-1), pkg-config (>=0.29.1), libsqlite3-0 (>=3.11.0), postgresql-common, libcapstone-dev, libfreetype6-dev, libglfw3-dev, libgtk2.0-dev, libtbb-dev, curl, ca-certificates, llvm-12 (>=12.0.0), llvm-12-dev (>=12.0.0), parallel, libunwind-dev
Standards-Version: 3.9.6
Homepage: https://www.stellar.org

Package: stellar-core
Architecture: any
Depends: libsqlite3-0 (>=3.11.0), stellar-core-utils, ${shlibs:Depends}, ${misc:Depends}
Recommends: stellar-core-prometheus-exporter
Description: Stellar is a decentralized, federated peer-to-peer network
 Stellar is a decentralized, federated peer-to-peer network that allows people to send payments in any asset anywhere in the world instantaneously, and with minimal fee.
 Stellar-core is the core component of this network. Stellar-core is a C++ implementation of the Stellar Consensus Protocol configured to construct a chain of ledgers that are guaranteed to be in agreement across all the participating nodes at all times.

Package: stellar-core-dbg
Section: debug
Architecture: any
Depends: stellar-core (= ${source:Version})
Description: Debug symbols for stellar-core
