[Unit]
Description=SDF - stellar-core
Before=multi-user.target
#PartOf=stellar.service
StartLimitBurst=5
StartLimitIntervalSec=30s

[Service]
User=stellar
Group=stellar
ExecStart=/usr/bin/stellar-core --conf /etc/stellar/stellar-core.cfg run
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RestartSec=5s

[Install]
WantedBy=multi-user.target
