[Unit]
Description=SDF - stellar-core-prometheus-exporter

[Service]
Type=simple
LimitNOFILE=8192
EnvironmentFile=-/etc/default/stellar-core-prometheus-exporter
ExecStart=/usr/bin/stellar-core-prometheus-exporter
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
