Source: stellar-horizon-postgres
Section: web
Priority: optional
Maintainer: Package Maintainer <packages@stellar.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.stellar.org/

Package: stellar-horizon-postgres
Architecture: any
Depends: stellar-horizon, postgresql (>=12)
Description: This package will configure PostgreSQL for stellar-horizon locally.
 * creates/manages stellar user
 * creates stellar PostgreSQL role
 * creates horizon database
