Source: stellar-core-utils
Section: web
Priority: optional
Maintainer: Package Maintainer <packages@stellar.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.stellar.org/

Package: stellar-core-utils
Architecture: any
Depends: stellar-core, curl
Description: This package provides a common toolset for working with stellar-core
